# Configuration Django
SECRET_KEY=your-secret-key-here
DEBUG=False # ou false
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de données laisser vide si vous souhaiter utiliser sqllite3 de django par default
DATABASE_URL=postgres://user:password@localhost:5432/dbname 

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password

# API si vous utilisez une api 
STRIPE_PUBLIC_KEY=your-stripe-public-key
STRIPE_SECRET_KEY=your-stripe-secret-key